$use-fadeIn: true;
$use-fadeOut: true;
$use-fadeInDown: true;
$use-fadeInOut: true;
$use-zoomIn: true;
$use-slideInRight: true;
$use-slideInLeft: true;
$use-slideInUp: true;

@import '~animate-sass/_animate';
