.spacle-responsive-nav {
  display: none;
}

.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  height: auto;
  z-index: 1040;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-area .container {
  max-width: 1290px;
}

.navbar-area.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-area.is-sticky .spacle-nav .navbar .others-options .optional-btn {
  color: var(--tertiary-color);
}

.navbar-area.is-sticky .spacle-nav .navbar .others-options .optional-btn i {
  color: var(--tertiary-color);
}

.navbar-area.is-sticky .spacle-nav .navbar .others-options .optional-btn::before {
  border-color: var(--tertiary-color);
}

.navbar-area.is-sticky .spacle-nav .navbar .others-options .optional-btn:hover, .navbar-area.is-sticky .spacle-nav .navbar .others-options .optional-btn:focus {
  color: #ffffff;
}

.navbar-area.is-sticky .spacle-nav .navbar .others-options .optional-btn:hover i, .navbar-area.is-sticky .spacle-nav .navbar .others-options .optional-btn:focus i {
  color: #ffffff;
}

.navbar-area.navbar-style-two {
  position: relative;
  background-color: #ffffff;
}

.navbar-area.navbar-style-two.is-sticky {
  position: fixed;
}

.navbar-area.navbar-style-two .spacle-nav .navbar .navbar-nav {
  margin-left: auto;
}

.navbar-area.navbar-style-two .spacle-nav .navbar .others-options {
  margin-left: 25px;
}

.navbar-area.navbar-style-two .spacle-nav .navbar .others-options .optional-btn {
  color: var(--tertiary-color);
}

.navbar-area.navbar-style-two .spacle-nav .navbar .others-options .optional-btn i {
  color: var(--primary-color);;
}

.navbar-area.navbar-style-two .spacle-nav .navbar .others-options .optional-btn::before {
  border-color: var(--tertiary-color);
}

.navbar-area.navbar-style-two .spacle-nav .navbar .others-options .optional-btn:hover, .navbar-area.navbar-style-two .spacle-nav .navbar .others-options .optional-btn:focus {
  color: #ffffff;
}

.navbar-area.navbar-style-two .spacle-nav .navbar .others-options .optional-btn:hover i, .navbar-area.navbar-style-two .spacle-nav .navbar .others-options .optional-btn:focus i {
  color: #ffffff;
}

.navbar-area.navbar-style-two .container {
  max-width: 1140px;
}

.spacle-nav {
  background-color: transparent;
}

.spacle-nav .navbar {
  background-color: transparent;
  padding: 0;
}

.spacle-nav .navbar .navbar-brand {
  padding: 0;
  font-weight: bold;
  font-size: 27px;
}

.spacle-nav .navbar ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.spacle-nav .navbar .navbar-nav {
  margin-left: 110px;
}

.spacle-nav .navbar .navbar-nav .nav-item {
  position: relative;
  padding: 0;
  /* Mega dropdown menu */
}

.spacle-nav .navbar .navbar-nav .nav-item a {
  font-size: 15px;
  font-weight: 500;
  color: var(--secondary-color);
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 13px;
  margin-right: 13px;
}

.spacle-nav .navbar .navbar-nav .nav-item a:hover, .spacle-nav .navbar .navbar-nav .nav-item a:focus, .spacle-nav .navbar .navbar-nav .nav-item a.active {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item a i {
  font-size: 16px;
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: -3px;
  margin-right: -3px;
}

.spacle-nav .navbar .navbar-nav .nav-item:last-child a {
  margin-right: 0;
}

.spacle-nav .navbar .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}

.spacle-nav .navbar .navbar-nav .nav-item:hover a, .spacle-nav .navbar .navbar-nav .nav-item.active a {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  position: absolute;
  border: none;
  top: 80px;
  left: 0;
  width: 250px;
  z-index: 99;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  border-top: 2px solid var(--secondary-color);
  padding: 0;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
  padding: 0;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  padding: 13px 20px 11px;
  margin: 0;
  position: relative;
  color: var(--secondary-color);
  border-bottom: 1px dashed #e5e5e5;
  font-size: 14px;
  font-weight: 500;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li:last-child a {
  border-bottom: none;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  left: -250px;
  top: 15px;
  opacity: 0;
  visibility: hidden;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:hover, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a:focus, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a.active {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: 220px;
  top: 15px;
  opacity: 0;
  visibility: hidden;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -250px;
  top: 15px;
  opacity: 0;
  visibility: hidden;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -250px;
  top: 15px;
  opacity: 0;
  visibility: hidden;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -250px;
  top: 15px;
  opacity: 0;
  visibility: hidden;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--tertiary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ffffff;
  background-color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu {
  left: -250px;
  top: 15px;
  opacity: 0;
  visibility: hidden;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a {
  color: var(--tertiary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:hover, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a:focus, .spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li a.active {
  color: #ffffff;
  background-color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: #ffffff;
  background-color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li.active a {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li.active a {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: var(--secondary-color);
}

.spacle-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.spacle-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  margin-top: 0;
}

.spacle-nav .navbar .navbar-nav .nav-item .mega-dropdown-menu {
  width: 500px;
  padding: 0 10px 5px;
}

.spacle-nav .navbar .navbar-nav .nav-item .mega-dropdown-menu h3 {
  font-size: 17px;
  margin-top: 20px;
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
}

.spacle-nav .navbar .navbar-nav .nav-item .mega-dropdown-menu h3::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  background: var(--secondary-color);
  width: 30px;
  height: 1px;
}

.spacle-nav .navbar .navbar-nav .nav-item .mega-dropdown-menu .nav-item {
  width: 50%;
  float: left;
  padding: 0 10px;
}

.spacle-nav .navbar .navbar-nav .nav-item .mega-dropdown-menu .nav-item a {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px dashed #e5e5e5 !important;
}

.spacle-nav .navbar .navbar-nav .nav-item .mega-dropdown-menu .nav-item a:last-child {
  border-bottom: none !important;
}

.spacle-nav .navbar .others-options {
  margin-left: auto;
}

.spacle-nav .navbar .others-options .default-btn {
  color: #ffffff;
  background-color: var(--secondary-color);
}

.spacle-nav .navbar .others-options .default-btn i {
  color: #ffffff;
}

.spacle-nav .navbar .others-options .default-btn span {
  background-color: var(--tertiary-color);
}

.spacle-nav .navbar .others-options .optional-btn {
  margin-left: 10px;
  color: #ffffff;
}

.spacle-nav .navbar .others-options .optional-btn i {
  color: #ffffff;
}

.spacle-nav .navbar .others-options .optional-btn::before {
  border-color: #ffffff;
}

.spacle-nav .navbar .others-options .optional-btn span {
  background-color: var(--tertiary-color);
}

.spacle-nav .navbar .others-options .optional-btn:hover::before, .spacle-nav .navbar .others-options .optional-btn:focus::before {
  border-color: var(--tertiary-color);
}

@media only screen and (max-width: 991px) {
  .spacle-responsive-nav {
    display: block;
  }
  .spacle-responsive-nav .spacle-responsive-menu {
    position: relative;
  }
  .spacle-responsive-nav .spacle-responsive-menu.mean-container .mean-nav {
    margin-top: 55px;
    /* Mega dropdown menu */
  }
  .spacle-responsive-nav .spacle-responsive-menu.mean-container .mean-nav ul {
    font-size: 14px;
  }
  .spacle-responsive-nav .spacle-responsive-menu.mean-container .mean-nav ul li a.active {
    color: var(--secondary-color);
  }
  .spacle-responsive-nav .spacle-responsive-menu.mean-container .mean-nav ul li li a {
    font-size: 14px;
  }
  .spacle-responsive-nav .spacle-responsive-menu.mean-container .mean-nav .mega-dropdown-menu {
    padding: 0 15px;
  }
  .spacle-responsive-nav .spacle-responsive-menu.mean-container .mean-nav .mega-dropdown-menu h3 {
    font-size: 16px;
    margin-top: 0;
    border-bottom: 1px dashed #e5e5e5;
    margin-bottom: 0;
    padding-bottom: 10px;
    position: relative;
  }
  .spacle-responsive-nav .spacle-responsive-menu.mean-container .mean-nav .mega-dropdown-menu h3::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    background: var(--secondary-color);
    width: 30px;
    height: 1px;
  }
  .spacle-responsive-nav .spacle-responsive-menu.mean-container .mean-nav .others-options {
    display: none;
  }
  .spacle-responsive-nav .spacle-responsive-menu.mean-container .navbar-nav {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 294px;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
  }
  .spacle-responsive-nav .mean-container a.meanmenu-reveal {
    color: var(--tertiary-color);
  }
  .spacle-responsive-nav .mean-container a.meanmenu-reveal span {
    background: var(--tertiary-color);
  }
  .spacle-responsive-nav .logo {
    position: relative;
    width: 50%;
    z-index: 999;
    font-weight: bold;
    font-size: 25px;
  }
  .navbar-area {
    background-color: #ffffff;
    position: relative;
    border-bottom: 1px solid #eeeeee;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-area.is-sticky {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .spacle-nav {
    display: none;
  }
}
