<div class="saas-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container max-width-1290">
                <div class="row align-items-center pt-5">
                    <div class="col-lg-7 col-md-12">
                        <div class="hero-content pl-4">
                            <h1>Saint Joseph's Workshop</h1>
                            <p>
                                Our passion to work hard and deliver excellent results. It could solve the needs of your
                                customers and develop innovation. Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, sed do eiusmod.
                            </p>

                            <div class="banner-btn">
                                <div class="d-flex">
                                    <a href="" class="default-btn">
                                        <i class="bx bxs-hot"></i>
                                        See Our Works
                                        <span></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
